{% extends 'catalog/base.html' %}

{% block content %}
    <div class="col-12">
        <form class="row" method="post" enctype="multipart/form-data">
            <div class="col-6">
                <div class="card mb-5">
                    <div class="card-header">
                        <h3 class="card-title">
                            {% if object %}Редактирование{% else %}Добавление{% endif %} продукта
                        </h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input type="submit" class="btn btn-success"
                                   value="{% if object %}Update{% else %}Save{% endif %}">
                            <a href="{% url 'catalog:index' %}" class="btn btn-primary">Back</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card-header">
                    <h3>Версии продукта</h3>
                </div>
                {{ formset.management_form }}
                {% for form in formset.forms %}
                    {{ form.as_p }}
                    {% if not forloop.last %}
                        <hr>
                        <hr>
                    {% endif %}
                {% endfor %}
            </div>
        </form>
    </div>
{% endblock %}
